body {
    margin: 0;
    background-color: aliceblue;
    min-height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 2. СТИЛІ ДЛЯ ПК (широкий екран) */
@media screen and (min-width: 769px) {
#int{
        display: flex;
        justify-content: center;
        height: 7vh;
        width: 90vw;
        margin: 10vh;
        align-items: center;

        
    }
    #num1{
        display: block;
        background-color: rgb(255, 255, 255);
        border-radius: 3vw;
        border: 0.3vh solid rgb(255, 185, 246);
        font-size: large;
        width: 70%;
        height: 100%;
        text-align: center;
    }
    #num1:hover{
        border: 0.3vh solid rgb(255, 0, 221);
    }
    #valutaInp{
        display: block;
        background-color: rgb(227, 193, 231);
        border-radius: 3vw;
        border: 0;
        width: 20%;
        font-size: large;
        border: 0.3vh solid rgb(227, 193, 231);
        height: 100%;
        margin: 1vw;
    }
    #valutaInp:hover{
        border: 0.3vh solid rgb(255, 0, 221);
    }



    #res{
        display: flex;
        justify-content: center;
        height: 7vh;
        width: 90vw;
        margin: 2vh;
        align-items: center;
        margin: 10vh;
    }
    #result{
        background-color: rgb(255, 255, 255);
        border-radius: 3vw;
        border: 0.3vh solid rgb(255, 185, 246);
        width: 70%;
        font-size: large;
        height: 100%;
        line-height: 7vh;
        margin: 0;
        text-align: center;
    }
    #result:hover{
        border: 0.3vh solid rgb(255, 0, 221);
    }
    #valutaRes{
        background-color: rgb(227, 193, 231);
        border-radius: 3vw;
        border: 0;
        width: 20%;
        font-size: large;
        border: 0.3vh solid rgb(227, 193, 231);
        height: 100%;
        margin: 1vw;
        
    }
    #valutaRes:hover{
        border: 0.3vh solid rgb(255, 0, 221);
    }
}

/* 3. СТИЛІ ДЛЯ ТЕЛЕФОНУ (вузький екран) */
@media screen and (max-width: 768px) {

    #int{
        display: flex;
        justify-content: center;
        height: 7vh;
        width: 90vw;
        margin: 2vh;
        align-items: center;
        
    }
    #num1{
        display: block;
        background-color: rgb(255, 255, 255);
        border-radius: 3vw;
        border: 0.3vh solid rgb(255, 185, 246);
        font-size: large;
        width: 70%;
        height: 100%;
        text-align: center;
    }
    #num1:hover{
        border: 0.3vh solid rgb(255, 0, 221);
    }
    #valutaInp{
        display: block;
        background-color: rgb(227, 193, 231);
        border-radius: 3vw;
        border: 0;
        width: 20%;
        font-size: large;
        border: 0.3vh solid rgb(227, 193, 231);
        height: 100%;
        margin: 1vw;
    }
    #valutaInp:hover{
        border: 0.3vh solid rgb(255, 0, 221);
    }



    #res{
        display: flex;
        justify-content: center;
        height: 7vh;
        width: 90vw;
        margin: 2vh;
        align-items: center;
    }
    #result{
        background-color: rgb(255, 255, 255);
        border-radius: 3vw;
        border: 0.3vh solid rgb(255, 185, 246);
        width: 70%;
        font-size: large;
        height: 100%;
        line-height: 7vh;
        margin: 0;
        text-align: center;
    }
    #result:hover{
        border: 0.3vh solid rgb(255, 0, 221);
    }
    #valutaRes{
        background-color: rgb(227, 193, 231);
        border-radius: 3vw;
        border: 0;
        width: 20%;
        font-size: large;
        border: 0.3vh solid rgb(227, 193, 231);
        height: 100%;
        margin: 1vw;
        
    }
    #valutaRes:hover{
        border: 0.3vh solid rgb(255, 0, 221);
    }
}
